/* Elements */
a {
    padding: 10px 0;
}

button {
    font-size: 30px;
    margin-right: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

/* Class */

.navBar {
    width: 100%;
    background-color: #111;
    color: white;
    padding: 10px;
}

.links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
}

.show-nav {
    height: 120px;
}

/* Media screen size */
@media screen and (min-width: 768px){
    button {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    a {
        padding: 0 15px;
    }
}